<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885229513283-iueannm84hskkhngt4bpbueqvkl1q2a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885229513283-iueannm84hskkhngt4bpbueqvkl1q2a7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>885229513283-cna3bu00dd5ph62h6bafljg9rc8ide41.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCjUE5vwIsDq3abo-R3FKpfyD8e6-6v7M</string>
	<key>GCM_SENDER_ID</key>
	<string>885229513283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wondereight.redcircle</string>
	<key>PROJECT_ID</key>
	<string>redcircle-c4c25</string>
	<key>STORAGE_BUCKET</key>
	<string>redcircle-c4c25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885229513283:ios:893e06935cd6bdace242f6</string>
</dict>
</plist>