<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055466875349-32n29n17p2nfg2tscno7j95botjc89l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055466875349-32n29n17p2nfg2tscno7j95botjc89l9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1055466875349-vfee8b54uc8q9m32vvhlkr0cqad5mrqo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDo6YvJu4m7IoKZ0PzAYSAiV7uIBQ5aZhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1055466875349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CompuVision.redcircleflutter</string>
	<key>PROJECT_ID</key>
	<string>redcircle-f33f3</string>
	<key>STORAGE_BUCKET</key>
	<string>redcircle-f33f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055466875349:ios:75381b93d22655f162755c</string>
	<key>DATABASE_URL</key>
	<string>https://redcircle-f33f3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>